<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="widget-wrap material-table-widget">
      <div class="row">
        <div class="col-md-12">
          <div class="login-logo text-center">
            <a routerLinkActive="router-link-active" title="Admin Template">
              <img src="assets/images/cutmypic.png" alt="logo">
            </a>
          </div>
          <form class="j-forms" #form="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-content Add-form">

              <div class="alert alert-danger" *ngIf="submissionErrors">{{submissionErrors}}</div>
              <!-- start text password -->
              <div class="row">
                <div class="col-md-12 unit">
                  <label class="label">اسم المستخدم</label>
                  <div class="input">
                    <label class="icon-left" for="email">
                      <i class="fa fa-edit"></i>
                    </label>
                    <input class="form-control" [(ngModel)]="formData.UserName" name="email" type="text" placeholder="اسم المستخدم"
                      id="email" required>
                  </div>
                </div>

                <div class="col-md-12 unit">
                  <label class="label"> كلمه المرور الجديدة</label>
                  <div class="input">
                    <label class="icon-left" for="password">
                      <i class="fa fa-lock"></i>
                    </label>
                    <input class="form-control" [(ngModel)]="formData.Password" name="password" type="password"
                      placeholder="كلمه المرور الجديدة" id="password" required>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-ex-container">

                    <button type="submit" [disabled]="!form.form.valid || inProgress" class="btn btn-info btn-block primary-btn">
                      تغيير كلمة المرور</button>
                  </div>
                  <!-- end /.footer -->

                </div>

              </div>
              <!-- end text password -->


            </div>
            <!-- end /.content -->



          </form>
        </div>

      </div>
    </div>
  </div>
</div>
