a.notif {
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
    background: url('http://i.imgur.com/evpC48G.png');
    background-size: contain;
    text-decoration: none;
  }
  .num {
    position: absolute;
    right: 11px;
    top: 6px;
    color: #fff;
  }