<!--Topbar Start Here-->
<header class="topbar clearfix">
  <!--Top Search Bar Start Here-->
  <div class="top-search-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="search-input-addon">
            <span class="addon-icon">
              <i class="zmdi zmdi-search"></i>
            </span>
            <input type="text" class="form-control top-search-input" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Top Search Bar End Here-->
  <!--Topbar Left Branding With Logo Start-->
  <div class="topbar-left pull-left">
    <div class="clearfix">
      <ul class="left-branding pull-left clickablemenu ttmenu dark-style menu-color-gradient">
        <li>
          <span class="left-toggle-switch">
            <i class="zmdi zmdi-menu"></i>
          </span>
        </li>
        <li>
          <div class="logo">
            <a title="Admin Template">
              <img src="assets/images/imageedit_4_2950501274.png" alt="logo" style="height : 85% ; width: 110%; margin-top: 5px;">
            </a>
          </div>
        </li>
      </ul>
      <!--Mobile Search and Rightbar Toggle-->
      <ul class="branding-right pull-right">
        <li>
          <a class="btn-mobile-search btn-top-search">
            <i class="zmdi zmdi-search"></i>
          </a>
        </li>
        <li>
          <a class="btn-mobile-bar">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Topbar Left Branding With Logo End-->
  <!--Topbar Right Start-->
  <div class="topbar-right pull-right">
    <div class="clearfix">
      <!--Mobile View Leftbar Toggle-->
      <ul class="left-bar-switch pull-left">
        <li>
          <span class="left-toggle-switch">
            <i class="zmdi zmdi-menu"></i>
          </span>
        </li>
      </ul>
      <ul class="pull-right top-right-icons">
        <li>
          <a class="btn-top-search">
            <i class="zmdi zmdi-search"></i>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <!--Topbar Right End-->
</header>
<!--Topbar End Here-->
