<div class="container-fluid">
  <div class="page-header filled full-block light">
    <div class="row">
      <div class="col-md-6">
        <h2> أضافة </h2>


      </div>
      <div class="col-md-6">
        <ul class="list-page-breadcrumb">
          <li>
            <a href="#">الرئيسية
              <i class="zmdi zmdi-chevron-right"></i>
            </a>
          </li>
          <li class="active-page"> مدينين</li>
        </ul>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <div class="widget-wrap material-table-widget">

        <div class="widget-container margin-top-0">
          <div class="widget-content">
            <div class="row">
              <div class="col-md-6">
                <form action="#" class="j-forms" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
                  <div class="alert alert-danger" *ngIf="submissionErrors">{{submissionErrors}}</div>

                  <div class="form-content Add-form">
                    <div class="row">
                      <div class="col-md-12 unit">
                        <label class="label">المبلغ</label>
                        <div class="input">
                          <label class="icon-left" for="Mony">
                            <i class="fa fa-edit"></i>
                          </label>
                          <input class="form-control" [(ngModel)]="formData.Mony" name="Mony" type="number" placeholder="المبلغ "
                            id="Mony">
                        </div>
                      </div>
                      <div class="col-md-12 unit">
                        <label class="label">المدفوع</label>
                        <div class="input">
                          <label class="icon-left" for="Mony1">
                            <i class="fa fa-edit"></i>
                          </label>
                          <input class="form-control" [(ngModel)]="formData.Payment" name="Mony1" type="number"
                            placeholder="المدفوع " id="Mony1">
                        </div>
                      </div>


                      <div class="col-md-12 unit">
                        <label class="label">الحاله</label>
                        <div class="input">
                          <label class="icon-left" for="Status">
                            <i class="fa fa-edit"></i>
                          </label>
                          <label class="input select">
                            <select class="form-control" name="Status" [(ngModel)]="formData.Status" id="Status">
                              <option value="" selected> --------- أختر الحالة ---------</option>
                              <option value="0">غير مدفوع</option>
                              <option value="1">مُحصلة</option>

                            </select>

                          </label>

                        </div>
                      </div>
                      <div class="col-md-12 unit">
                        <label class="label"> الملاحظة</label>
                        <div class="input">
                          <label class="icon-left" for="ملاحظات">
                            <i class="fa fa-edit"></i>
                          </label>
                          <input class="form-control" [(ngModel)]="formData.Notes" name="Notes" type="text" placeholder="ملاحظات "
                            id="Notes">
                        </div>
                      </div>
                      <div class="col-md-12 unit">
                        <label class="label"> الشركة</label>
                        <div class="input">
                          <label class="icon-left" for="contract1">
                            <i class="fa fa-edit"></i>
                          </label>
                          <select class="form-control" name="contract1" [(ngModel)]="CompanyName" (ngModelChange)="GetAllContracts(CompanyName)">
                            <option value="" selected> --------- أختر شركة ---------</option>
                            <option value="{{s.CompanyID}}" *ngFor="let s of allComps">{{s.CompanyName}}</option>
                          </select>

                        </div>
                      </div>
                      <div class="col-md-12 unit">
                        <label class="label"> العقد</label>
                        <div class="input">
                          <label class="icon-left" for="contract">
                            <i class="fa fa-edit"></i>
                          </label>
                          <select class="form-control" name="contract" [(ngModel)]="formData.ContructID"
                            (ngModelChange)="GetAllProds(formData.ContructID)">
                            <option value="" selected> --------- أختر العقد ---------</option>
                            <option value="{{con.ID}}" *ngFor="let con of Contracts">{{con.Name}}</option>
                          </select> </div>
                      </div>
                      <div class="col-md-12 unit">
                        <label class="label"> المنتج</label>
                        <div class="input">
                          <label class="icon-left" for="contract3">
                            <i class="fa fa-edit"></i>
                          </label>
                          <select class="form-control" name="contract3" [(ngModel)]="formData.ProductID">
                            <option value="" selected> --------- أختر المنتج ---------</option>
                            <option value="{{con.ID}}" *ngFor="let con of Prods">{{con.Name}}</option>
                          </select> </div>
                      </div>


                      <div class="col-md-12 unit">
                        <label class="label"> النوع</label>
                        <div class="input">
                          <label class="icon-left" for="contract2">
                            <i class="fa fa-edit"></i>
                          </label>
                          <select class="form-control" name="contract2" [(ngModel)]="formData.Type">
                            <option value="" selected disabled> --------- أختر النوع ---------</option>
                            <option value="1"> سداد كامل</option>
                            <option value="2">تسوية </option>
                            <option value="3">جدولة </option>


                          </select> </div>
                      </div>


                      <div class="col-md-12 unit">
                        <label class="label"> ملف</label>
                        <div class="input">
                          <label class="icon-left" for="S">
                            <i class="fa fa-edit"></i>
                          </label>
                          <input class="form-control" [(ngModel)]="formData.Attachment" (change)="onChange($event)"
                            name="S" type="file" placeholder="المبلغ " id="S">
                        </div>
                      </div>


                      <div class="col-md-12">
                        <div class="btn-ex-container">

                          <button type="submit" [disabled]="!form.form.valid || inProgress" class="btn btn-info primary-btn">+
                            أضافه</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <img src="assets/images/add-2.png" class="img-responsive add_img">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
