<div class="container-fluid">
  <div class="page-header filled full-block light">
    <div class="row">
      <div class="col-md-6">
        <h2> تقریر بنسبة التحصیل</h2>

      </div>
      <div class="col-md-6">
        <ul class="list-page-breadcrumb">
          <li>
            <a href="#">الرئيسية
              <i class="zmdi zmdi-chevron-right"></i>
            </a>
          </li>
          <li class="active-page"> تقریر بنسبة التحصیل </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="col-md-12">
        <form action="#" class="j-forms" novalidate="">

          <div class="form-content">

            <div class="w-section-header">
              <h3>تنقيه سريعه</h3>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="unit">
                  <label class="input select">
                    <select class="form-control">
                      <option value="none"> إسم الدائن</option>
                      <option value="0">احمد</option>
                      <option value="1">ابراهيم</option>
                      <option value="2">علي</option>
                      <option value="3">حسن</option>
                      <option value="4">عبدالله</option>
                      <option value="5">سعد</option>
                      <option value="6">مسعد</option>
                      <option value="7">ابراهيم</option>
                    </select>
                    <i></i>
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="unit">
                  <label class="input select">
                    <select class="form-control">
                      <option value="none"> إسم المدين</option>
                      <option value="0">احمد</option>
                      <option value="1">ابراهيم</option>
                      <option value="2">علي</option>
                      <option value="3">حسن</option>
                      <option value="4">عبدالله</option>
                      <option value="5">سعد</option>
                      <option value="6">مسعد</option>
                      <option value="7">ابراهيم</option>
                    </select>
                    <i></i>
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="unit">
                  <label class="input select">
                    <select class="form-control">
                      <option value="none">اسم الموظف</option>
                      <option value="0">احمد</option>
                      <option value="1">ابراهيم</option>
                      <option value="2">علي</option>
                      <option value="3">حسن</option>
                      <option value="4">عبدالله</option>
                      <option value="5">سعد</option>
                      <option value="6">مسعد</option>
                      <option value="7">ابراهيم</option>
                    </select>
                    <i></i>
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-6 unit">
                  <div class="input">
                    <label class="icon-right" for="timepic-1">
                      <i class="fa fa-calendar"></i>
                    </label>
                    <input class="form-control" type="text" id="timepic-1" name="timepic-1" placeholder="اليوم"
                      readonly="">
                  </div>
                </div>
                <div class="col-md-6 unit">
                  <!-- <div class="widget right-50">
                                                        <div class="input">
                                                            <input class="form-control" type="text" id="timepic-2" name="timepic-2" placeholder="timepicker" readonly="">
                                                        </div>
                                                        <label class="addon adn-50 adn-right" for="timepic-2">
                                                            <i class="fa fa-clock-o"></i>
                                                        </label>
                                                    </div> -->
                  <div class="input">
                    <label class="icon-right" for="timepic-1">
                      <i class="fa fa-calendar"></i>
                    </label>
                    <input class="form-control" type="text" id="timepic-1" name="timepic-1" placeholder="اليوم"
                      readonly="">
                  </div>
                </div>
              </div>
            </div>
            <!-- end popup time interval -->

          </div>
          <!-- end /.content -->

        </form>
      </div>



      <div class="widget-wrap  material-table-widget">
        <div class="widget-container margin-top-0">
          <div class="widget-content">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>إسم الدائن</th>
                  <th>إسم المدين</th>
                  <th>إسم الموظف</th>
                  <th> الدين</th>
                  <th> العقد</th>
                  <th> المدفوع</th>
                  <th> المتبقي</th>
                  <th> نسبه التحصيل</th>
                  <th class="td-center"> الفتره من</th>
                  <th class="td-center">الفتره الي</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>
                <tr>
                  <td> محمد احمد </td>
                  <td> محمود احمد</td>
                  <td>
                    ابراهيم محمد
                  </td>
                  <td>15 الف ريال</td>
                  <td>
                    <a><img src="images/1100.jpg" class="Contract_img" alt=""></a>
                  </td>
                  <td>10 الف ريال</td>
                  <td>5 الف ريال</td>
                  <td>15 %</td>
                  <td class="td-center">
                    15/10/2018
                  </td>
                  <td class="td-center">
                    17/10/2018
                  </td>
                </tr>


              </tbody>


            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>