<div class="container-fluid">
  <div class="page-header filled full-block light">
    <div class="row">
      <div class="col-3">
        <div class="card" style="padding:2%">
          <div class="card-body">
            <h5 class="card-title">اهداف الموظفين</h5>
            <a [routerLink]="['/emps-targets']" class="btn btn-primary">عرض</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="padding:2%">
          <div class="card-body">
            <h5 class="card-title">اهداف المشرفين</h5>
            <a [routerLink]="['/supers-targets']" class="btn btn-primary">عرض</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="padding:2%">
          <div class="card-body">
            <h5 class="card-title">اهداف المكالمات</h5>
            <a [routerLink]="['/calls-targets']" class="btn btn-primary">عرض</a>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
